*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content:center;
    align-items:center;
    /* border: 1px solid; */
}
.container{
    /* height: 1000px; */
    /* border: 1px solid turquoise; */
    display: flex;
    justify-content:center;
    align-items:center;
    /* border: 1px solid; */
    bottom: 50%;
    top: 50%;
    position: fixed;
    flex-direction: column;
}
video{
    width: 880px;
    height:500px;
    border: 2px solid yellow;
}
iframe{
    width: 0;
    height: 0;
    display: none;
}
button{
    background-color: hotpink;
    color: white;
    padding:20px;
    border: none;
    border-radius:10px;
    cursor: pointer;
    transition: .3s ease-in-out;
}
button:hover{
    background-color:turquoise;
}
button:active{
    border-radius: 20px;
    padding:18px;
}
.controls{
    padding:20px;
    /* transform: translateY(-150px);
    transform: translateX(-350px); */
    transform: translate(-350px,-150px)
}
